<%= image_tag("projects.png")%>
<div class="project">
	<div class="project_content_top"> </div>
	<div class="project_content">
		<p class="title">followmap</p>
		<p class="url"><%= link_to "http://followmap.herokuapp.com","http://followmap.herokuapp.com"%>
		<p class="url"><%= link_to "Github Repo","https://github.com/shannonrush/followmap"%>
		<p class="desc">D3 visualization of Twitter followers and friends</p>
        <ul>
          <li>Ruby, Rails 4, D3js, topojson</li>
          <li>Visualize followers and friends of any Twitter user on a global map</li>
        </ul>
	</div>
</div>
<div class="project_content_bottom"> </div>
<div class="project">
	<div class="project_content_top"> </div>
	<div class="project_content">
		<p class="title">geofeelings</p>
		<p class="url"><%= link_to "http://geofeelings.herokuapp.com","http://geofeelings.herokuapp.com"%>
		<p class="url"><%= link_to "Github Repo","https://github.com/shannonrush/geofeelings"%>
		<p class="desc">D3 real time visualization of global Twitter sentiment</p>
        <ul>
          <li>Ruby, Rails 4, D3js, topojson</li>
          <li>Sentiment analysis using customized AFINN-111 lexicon</li>
          <li>Enter a search term to see geofeelings mine Twitter, analyze tweet sentiment and place tweets on a global map colored by attitude all in real(ish) time</li>  
        </ul>
	</div>
</div>
<div class="project_content_bottom"> </div>
<div class="project">
	<div class="project_content_top"> </div>
	<div class="project_content">
		<p class="title">bagRboostR</p>
        <p class="url"><%= link_to "CRAN Repo", "http://cran.r-project.org/web/packages/bagRboostR/"%>
		<p class="url"><%= link_to "Github Repo","https://github.com/shannonrush/bagRboostR"%>
		<p class="desc">An R Package for ensemble bagging and boosting classifiers</p>
        <ul>
          <li>A set of ensemble classifiers for multinomial classification problems</li>
          <li>The bagging function is the implementation of Breiman’s ensemble as described by <%= link_to "Opitz and Maclin (1999)","http://www.d.umn.edu/~rmaclin/publications/opitz-jair99.pdf"%></li>
          <li>The boosting function is the implementation of Stagewise Additive Modeling using a Multi-class Exponential loss function (SAMME) created by <%= link_to "Zhu et al (2006)","http://www.stanford.edu/~hastie/Papers/samme.pdf"%></li>
          <li>Each ensemble classifier returns a character vector of predictions for a given test set</li>
          <li><%= link_to "bagRboostR Manual","/documentation/bagRboostR-manual.pdf"%>
        </ul>
	</div>
</div>
<div class="project_content_bottom"> </div>
<div class="project">
	<div class="project_content_top"> </div>
	<div class="project_content">
	  <p class="logo"><%= link_to image_tag("rmry.png", :border => 0), "http://readmereadyou.com"%></p>
		<p class="title">Read Me Read You</p>
		<p class="url"><%= link_to "http://readmereadyou.com","http://readmereadyou.com"%>
		<p class="desc">A Ruby on Rails application for the writing community</p>
		<ul>
          <li>A community for sharing writing and critiques</li>
          <li>Manuscript analysis including:</li>
          <li>Lexical Density</li>
          <li>Gunning Fog Index</li>
          <li>Flesch Reading Ease</li>
          <li>Flesch-Kincaid Grade Level</li>
          <li>Word and Sentence counts</li>
          <li>Unique and Commonly Used Word Analysis</li>
          <li>Word Grouping Analysis</li>
          <li>Sentence Structure Analysis</li>
		  <li>More details and source code can be found at <%= link_to "the RMRY github repo", "https://github.com/shannonrush/ReadMeReadYou"%></li>
		</ul>
	</div>
</div>
<div class="project_content_bottom"> </div>
<div class="project">
	<div class="project_content_top"> </div>
	<div class="project_content">
	  <p class="logo"><%= link_to image_tag("tdd.png", :border => 0), "http://talentdrivendevelopment.com"%></p>
		<p class="title">Talent Driven Development</p>
		<p class="url"><%= link_to "http://talentdrivendevelopment.com","http://talentdrivendevelopment.com"%>
		<p class="desc">A Ruby on Rails application for technical talent management</p>
		<ul>
			<li>Helps technical talent with the problem of having to weed through tons of unwanted recruitment emails when looking for a new opportunity</li>
		  <li>Allows technical talent the opportunity to choose a specialized agent for representation</li>
		  <li>Agents find interviews and negotiate offers for the talent they represent</li>
		  <li>Agents earn badges to enhance their reputation based on performance</li>
		  <li>The better the performance (acceptable interviews, accepted offers, etc) the more talent an agent may represent</li>
			<li>Ruby 1.9.3</li>
			<li>Rails 3.2.3</li>
			<li>Front end created using Haml and Sass</li>
			<li>Tested using rspec and factory girl</li>
			<li>Authentication system using devise</li>
			<li>Search using sunspot and Solr</li>
			<li>Recurring tasks using whenever</li>
			<li>Image management using paperclip</li>
			<li>More details and source code can be found at <%= link_to "the TDD github repo", "https://github.com/shannonrush/TalentDrivenDevelopment"%></li>
		</ul>
	</div>
</div>
<div class="project_content_bottom"> </div>
<div class="project">
	<div class="project_content_top"> </div>
	<div class="project_content">
		<p class="logo"><%= link_to image_tag("smr.png", :border => 0), "http://www.shannonmrush.com"%></p>
		<p class="title">Shannon M Rush Photography</p>
		<p class="url"><%= link_to "http://www.shannonmrush.com","http://www.shannonmrush.com" %></p>
		<p class="desc">Photography application for Shannon M Rush Photography</p>
		<ul>
			<li>Ruby on Rails application</li>
			<li>Portfolio slideshow</li>
			<li>Business marketing</li>
			<li>Client galleries</li>
			<li>E-commerce using Paypal</li>
		</ul>
	</div>
</div>
<div class="project_content_bottom"> </div>
