
<%= image_tag("projects.png")%>

<div class="project">
	<%= image_tag("top.png")%><br/>
	<div class="project_content">
		<p class="logo"><%= link_to image_tag("wagrit.png", :border => 0), "http://www.wagrit.com"%></p>
		<p class="title">WagrIt</p>
		<p class="url"><%= link_to "http://www.wagrit.com","http://www.wagrit.com" %></p>
		<p class="desc">A fun way to keep track of wagrs between friends</p>
		<ul>
			<li>Ruby on Rails application</li>
			<li>Create wagrs between any number of participants</li>
			<li>Add or invite participants to existing wagrs</li>
			<li>Email reminders</li>
			<li>Track who owes who what</li>
			<li>Payment reminders to losers by winners</li>
		</ul>
	</div>
</div>
<%= image_tag("bottom.png")%>
<div class="clear"></div>
<br/>
<br/>