<%= image_tag("projects.png")%>
<div class="project">
	<div class="project_content_top"> </div>
	<div class="project_content">
		<p class="title">Project Name: TBA</p>
		<p class="desc">An Augmented Reality Game!</p>
		<ul>
		  <li>In Development! Details Coming Soon!</li>
		</ul>
	</div>
</div>
<div class="project_content_bottom"> </div>
<div class="project">
	<div class="project_content_top"> </div>
	<div class="project_content">
	  <p class="logo"><%= image_tag("hoodstats.png")%></p>
		<p class="title">HoodStats</p>
		<p class="url"><%= link_to "HoodStats in iTunes", "http://itunes.apple.com/us/app/hoodstats/id444057487?mt=8"%>
		<p class="desc">An augmented reality iOS app that reveals interesting information about your current location</p>
		<ul>
		  <li>Augmented Reality iPhone app <%= link_to "available in the App Store!","http://itunes.apple.com/us/app/hoodstats/id444057487?mt=8"%></li>
		  <li>Open up the app and look around to learn interesting facts about your current location all around you!</li>
		  <li>Collects the data from <%= link_to "the Zillow API", "http://www.zillow.com/howto/api/APIOverview.htm" %></li>
		  <li>Uses the device's built in GPS, camera, accelerometer and gyroscope to provide that surreal augmented reality goodness</li>
		  <li>Saves information about all the locations you've visited for easy reference and comparison</li>
		  <li>Takes photos, complete with your new and improved augmented reality, and creates a gallery for each of your hoods</li>
		</ul>
	</div>
</div>
<div class="project_content_bottom"> </div>
<div class="project">
	<div class="project_content_top"> </div>
	<div class="project_content">
		<p class="logo"><%= link_to image_tag("twittaddict.png", :border => 0), "http://www.twittaddict.com"%></p>
		<p class="title">twittaddict</p>
		<p class="url"><%= link_to "http://www.twittaddict.com","http://www.twittaddict.com" %></p>
		<p class="url"><%= link_to "twittaddict in iTunes", "http://itunes.apple.com/us/app/twittaddict/id418483374?mt=8&uo=4" %></p>
		<p class="desc">Finally! A way to prove you spend a lot of time on Twitter!</p>
		<ul>
		  <li>iPhone/iPod Touch game <%= link_to "available in the App Store!", "http://itunes.apple.com/us/app/twittaddict/id418483374?mt=8&uo=4"%></li>
      <li>Match tweets to friends and friends to tweets!</li>
      <li>Find out who your Twitter BFF is!</li>
      <li>Keep track of your highest scores</li>
      <li>Compare scores with Game Center</li>
      <li>Unlock achievements and become twittawesome!</li>
		</ul>
		<p class="testimonial">"Brilliant idea! Definitely very useful and addictive"</p>
		<p class="testimonial_author">-- <%= link_to "Prakash Murthy", "http://twitter.com/#!/_prakash"%></p>
		<p class="testimonial">"twittaddict is so awesome! Great idea!"</p>
		<p class="testimonial_author">-- <%= link_to "Jake Boxer", "http://twitter.com/#!/jake_boxer"%></p>
	</div>
</div>
<div class="project_content_bottom"> </div>
<div class="project">
	<div class="project_content_top"> </div>
	<div class="project_content">
		<p class="logo"><%= link_to image_tag("wagrit.png", :border => 0), "http://www.wagrit.com"%></p>
		<p class="title">WagrIt</p>
		<p class="url"><%= link_to "http://www.wagrit.com","http://www.wagrit.com" %></p>
		<p class="desc">A fun way to keep track of wagrs between friends</p>
		<ul>
			<li>Ruby on Rails application (Launched! Try it out and <%= mail_to "shannon@shannonline.com","send feedback"%>!)</li>
			<li>Create wagrs between any number of participants</li>
			<li>Add or invite participants to existing wagrs</li>
			<li>Wagr discussion and messaging</li>
			<li>Email notifications and reminders</li>
			<li>Track who owes who what</li>
			<li>Payment reminders</li>
		</ul>
		<p class="testimonial">"This looks so sick! I'm super impressed."</p>
		<p class="testimonial_author">-- <%= link_to "Nick Wright", "http://twitter.com/Abica"%> of <%= link_to "Apps By Nick","http://www.appsbynick.com/"%></p>
		<p class="testimonial">"I love WagrIt, very cool idea."</p>
		<p class="testimonial_author">-- <%= link_to "James Sanders", "http://twitter.com/sanderjd"%></p>
	</div>
</div>
<div class="project_content_bottom"> </div>

<div class="project">
	<div class="project_content_top"> </div>
	<div class="project_content">
		<p class="logo"><%= link_to image_tag("smr.png", :border => 0), "http://www.shannonmrush.com"%></p>
		<p class="title">Shannon M Rush Photography</p>
		<p class="url"><%= link_to "http://www.shannonmrush.com","http://www.shannonmrush.com" %></p>
		<p class="desc">Photography application for Shannon M Rush Photography</p>
		<ul>
			<li>Ruby on Rails application</li>
			<li>Portfolio slideshow</li>
			<li>Business marketing</li>
			<li>Client galleries</li>
			<li>E-commerce using Paypal</li>
		</ul>
	</div>
</div>
<div class="project_content_bottom"> </div>
