<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<html>
<head>
	<%= stylesheet_link_tag "style" %>
	<link media="only screen and (max-device-width: 480px)" href="/stylesheets/small-device.css" type= "text/css" rel="stylesheet">
	<title>Shannonline</title>
</head>
<body>
	<div id="main_content">
		<div class="networks"><%= link_to image_tag("twitter.png", :border => 0), "http://www.twitter.com/shanfu"%>  <%= link_to image_tag("flickr.png", :border => 0), "http://www.flickr.com/photos/shannonmrush"%>   <%= link_to image_tag("linkedin.png", :border => 0), "http://www.linkedin.com/in/shannonrush"%>   <%= mail_to("shannon@shannonline.com", image_tag("email.png", :border => 0))%> </div>
		<%= link_to image_tag("logo_main.png", :class => "logo_main"), root_path %><br/>
		<div id="main_sub">
			<%= yield %>
		</div>
		<div id="right_column">
			<%= image_tag("idowebdev.png")%>
			<div class="project_sm">
				<div class="project_sm_top"> </div>
				<div class="project_content_sm">
					<ul class="resume">
					  <li>Specialties:
					    <ul>
					      <li>iOS development</li>
					      <li>Web development</li>
					      <li>Predictive Analytics</li>
					    </ul>
					  </li>
					  <br/>
						<li>Github:
							<ul>
								<li><%= link_to "http://github.com/shannonrush", "http://github.com/shannonrush"%></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="project_sm_bottom"> </div>
			<%= image_tag("idophotography.png")%>
			<div class="project_sm">
				<div class="project_sm_top"> </div>
				<div class="project_content_sm">
					<ul>
						<li>Shannon M Rush Photography
							<ul>
								<li><%= link_to "http://www.shannonmrush.com", "http://www.shannonmrush.com"%></li>
								<br/>
								<li>Portraiture</li>
								<li>Fashion</li>
								<li>Commercial</li>
								<li>Real Estate</li>
								<li>Action</li>
								<li>Family</li>
								<li>Pets</li>
							</ul>
						</li>
					</ul>
					<p class="testimonial">“Shannon is a wonderful photographer. She has an eye for and ability to capture alluring and intriguing pictures. Not only does she create a wonderful end product, but her friendly demeanor makes her a pleasure to be around.”</p>
					<p class="testimonial_author">-- <%= link_to "Kala Boucher", "http://kalaboucher.wordpress.com/" %></p>
				</div>
			</div>
			<div class="project_sm_bottom"> </div>
		</div>
		<div class="clear"></div>
		<br/>
	</div>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-12593174-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>